a{
    color: white;
}
a:hover{
    color: white;
    text-decoration: none;
}

body {
    /*background: #717370;*/

}

#content {
    /*border: 1px solid rgba(0, 83, 249, 0.5);*/
    padding: 0.8em 1em;
    /*max-width: 98vw;*/
    max-height: 80vh;
    /*max-width: 100%;*/
    padding-bottom: 744px;
    position: relative;
    background: var(--content-background);
    color: var(--font-color);
}

th{
    color: var(--font-color);
}

td{
    color: var(--font-color);
}

p {
    font-size: 80%;
}


#content strong {
    box-shadow: var(--Bshadow-box-shadow);
    padding: 0.8em 1em;
}

:root {
    --content-background: #ffffff;
    --font-color: #000000;
    --Bshadow-box-shadow: 0rem 0rem 0.3rem rgba(97, 97, 97, 0.41);
}

[data-theme="dark"] {
    --content-background: #363636;
    --font-color: #ecefef;
    --Bshadow-box-shadow: 0rem 0rem 0.3rem rgba(201, 201, 201, 0.41);
    --font-color: #fff;
    --font-color: #fff;

}

/* переключатель темы  start */
.toggle-box:after {
    content: "\25cf "" \2601";
}
.toggle-box:before {
    content: "\263c "" \25cb";
}
.toggle-box {
    display: inline-block;
    position: relative;
    margin: 1em;
}
.toggle-box input {
    display: none;
}
.toggle-box label {
    display: inline-block;
    position: relative;
    padding: 0;
    font-size: 14px;
    line-height: 16px;
    cursor: pointer;
    color: hsla(0, 0%, 58.4%, 0.51);
}
.toggle-box input[type="checkbox"]:checked + .toggle-box-label-left {
    color: hsla(0, 0%, 58.4%, 0.51);
}
.toggle-box input[type="checkbox"] + .toggle-box-label-left {
    color: hsla(0, 0%, 98%, 0.51);
}
.toggle-box input[type="checkbox"]:checked + .toggle-box-label-left:before {
    right: 17px;
    box-shadow: 5px 5px 0 0 #eee;
    background: transparent;
}
.toggle-box-label-left:before {
    content: "";
    display: block;
    position: absolute;
    z-index: 1;
    line-height: 34px;
    text-indent: 40px;
    height: 16px;
    width: 16px;
    margin: 4px;
    border-radius: 100%;
    right: 26px;
    bottom: 0;
    background: #383838;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.toggle-box-label-left:after,
.toggle-box-label-left:before {
    box-sizing: border-box;
    padding: 0;
    -webkit-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
    outline: none;
}
.toggle-box input[type="checkbox"]:checked + .toggle-box-label-left:after {
    background: rgba(0, 0, 0, 0.15);
    border: 2px solid #ddd;
}
.toggle-box-label-left:after {
    content: "";
    display: inline-block;
    width: 40px;
    height: 24px;
    border-radius: 16px;
    background: hsla(0, 0%, 100%, 0.15);
    vertical-align: middle;
    margin: 0 10px;
    border: 2px solid #383838;
}
.toggle-box-label-left:after,
.toggle-box-label-left:before {
    box-sizing: border-box;
    padding: 0;
    -webkit-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
    outline: none;
}
/*  переключатель темы   end*/


.container, .container-lg, .container-md, .container-sm {
   max-width: 960px;
}